@tailwind base;
@tailwind components;
@tailwind utilities;

/* dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #2d3748;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a5568;
}
